
header {
  background-color: white;
}

nav {
  background: #f2f2f2;
}

nav.sticky {
  width: 100%;
}

.nav {
  padding: 15px;

  display: flex;
  flex-grow: 1;

  font-size: 0;
}
.nav__item {
  position: relative;

  display: inline-block;
  flex-grow: 1;

  font-size: 16px;
  font-weight: 700;
  text-align: center;
  
  cursor: hand;
  cursor: pointer;
  opacity: .5;
  transition: all .25s ease-in-out;
}
.nav__item:hover {
  color: #680148;

  opacity: 1;
}
.nav__item.active {
  color: white;
  background-color: #252525;
}
.nav__item span:hover + .nav__dropdown {
  //display: block;
  transform: none;
  opacity: 1;
}
.nav__dropdown {
  position: absolute;
  left: 50%;
  right: 50%;
  width: 200px;
  display: none;
  margin: 0;
  margin-top: 5px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  font-weight: 400;
  text-align: left;
  list-style-type: none;
  opacity: 0;
  transform: translateY(-25%);
  transition: all .15s ease-in-out;
}
.nav__dropdown__item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  color: gray;
  background-color: white;
  transition: all .15s ease-in-out;
}
.nav__dropdown__item:hover {
  color: black;
  background-color: #f2f2f2;
}

.content {
  position: absolute;
  z-index: -1;

  display: none;

  width: 100%;

  padding-left: 60px;
  padding-right: 60px;
  transform: translateY(-25%);
  opacity: 0;
  transition: .15s all ease-in-out;
}

section {
  position: relative;
  z-index: 100;

  //max-height: 60px;

  margin-bottom: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #f2f2f2;

  //overflow: hidden;

  transition: .5s transform ease-in-out,
              .5s opacity ease-in-out,
              .75s max-height ease-in-out;
}

/*          section::before,
section::after {
  content: "";

  position: absolute;
  left: 5px;
  right: 5px;
  bottom: -10px;
  
  display: none;
  height: 10px;
  
  box-shadow: 5px 2px 5px rgba(0,0,0,.5);

  border-radius: 300px / 10px;

  opacity: 0;

  transition: opacity .15s ease-in-out;
}

section:not(.expanded):hover {
  max-height: 100px;
}
section:not(.expanded):hover::before,
section:not(.expanded):hover::after {
  display: block;

  opacity: 1;

  transition: opacity .5s ease-in-out;
}*/

.open {
  display: block;

  transform: none;
  opacity: 1;
}

/*          .expanded {
  max-height: 1000px;

  overflow: auto;
}*/

pre[class*="language-"] {
  background: #252525;

  font-size: 14px;

  overflow: hidden;
  opacity: .5;

  transition: all .25s ease-in-out;
}

pre[class*="language-"]:hover {
  opacity: 1;

  transition: all .25s ease-in-out;
}

code[class*="language-"] {
  background: none;
  box-shadow: none;
}

 section,
 h2, h3, h4,
 p, pre, blockquote,
 ul, li {

  .content & {
    
    transform: translateY(-50%);

    opacity: 0;

    transition: transform .15s ease-in-out,
                opacity .15s ease-in-out;
  }

  .open & {
    transform: translateY(0);

    opacity: 1;

    transition: transform .15s ease-in-out,
                opacity .15s ease-in-out;
  }
}

hr {
  margin: 48px 60px 30px -60px;

  border: 0;
  border-top: 1px solid black;
}